.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: orange;
    min-height: 10vh;
}

.nav-title{
    display: flex;
    color: black;
    font-size: 25px;
}

.nav-title:hover{
    cursor: pointer;
}

.nav-list{
    display: flex;
    flex-direction: row;
}

.nav-list-option{
    display: flex;
    border-style: solid;
    border-width: 1px;
    padding: 8px;
    margin: 10px;
    border-radius: 15px;
    font-size: 18px;
    background-color: rgb(181, 181, 251);
    color: black;
}

.nav-list-option:link{
    text-decoration: none;
}

.nav-list-option:hover{
    cursor: pointer;
    color: rgb(58, 58, 228);
    background-color: rgb(244, 244, 244);
    transition: 0.2s;
}