.signin{
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.signin-input{
    display: flex;
    margin: 5px;
    border-radius: 10px;
    font-size: 20px;
}

.signin-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 45px;
}

.button{
    display: flex;
    margin: 4px;
    font-size: 18px;
}

.button:hover{
    cursor: pointer;
}

.btn-container{
    display: flex;
    margin-left: 163px;
}

.signin-text-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.signin-link{
    justify-content: center;
    text-align: center;
}

.signin-link:hover{
    cursor: pointer;
    color: rgb(73, 73, 230);
}