.signin{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(239, 239, 239);
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.signin-input{
    display: flex;
    margin: 5px;
    border-radius: 10px;
    font-size: 20px;
}

.signin-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 45px;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    width: 30vw;
    height: 30vh;
    padding: 10px;
}

.button{
    display: flex;
    margin: 4px;
    font-size: 18px;
}

.button:hover{
    cursor: pointer;
}

.btn-container{
    display: flex;
    justify-content: right;
}

.btn-containers-container{
    display: flex;
    justify-content: space-evenly;
}

.signin-text-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.signin-link{
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.signin-link:hover{
    cursor: pointer;
    color: rgb(73, 73, 230);
}